Package: hyzx-admin-tools-extra
Architecture: arm64
Maintainer: Huan Yu Zhi Xing Corporation
Section: admin
Priority: important
Homepage: http://www.in-driving.com
Description: extra scripts and configs for system admin
