/*
 * Copyright (c) 2018, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */



/ {
		tegra-capture-vi {
			num-channels = <12>;
			/*num-channels = <8>;*/
			/*num-channels = <4>;*/
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
            #if 1
				port@0 {
					reg = <0>;
					imx390_vi_in0: endpoint {
						devnode = "video1";
						vc-id = <0>;
						/*
						 * Port index is used to specify the connection between two different modules. 
						 * For the VI (video input) module, the port index represents the input stream. 
						 * For the CSI module, it represents the actual CSI port to which the camera is connected.
						 * see diagram for details.
						*/
						port-index = <0>;
						/* Number of CSI lanes connected to sensor; determines the bus width. */
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out0>;
					};
				};
				port@1 {
					reg = <1>;
					imx390_vi_in1: endpoint {
						devnode = "video0";
						vc-id = <1>;
						port-index = <0>;
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out1>;
					};
				};
				port@2 {
					reg = <2>;
					imx390_vi_in2: endpoint {
						devnode = "video3";
						vc-id = <2>;
						port-index = <0>;
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out2>;
					};
				};
				port@3 {
					reg = <3>;
					imx390_vi_in3: endpoint {
						devnode = "video2";
						vc-id = <3>;
						port-index = <0>;
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out3>;
					};
				};
            #endif
            #if 1
				port@4 {
					reg = <4>;
					imx390_vi_in4: endpoint {
						devnode = "video9";
						vc-id = <0>;
						port-index = <2>;
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out4>;
					};
				};
				port@5 {
					reg = <5>;
					imx390_vi_in5: endpoint {
						devnode = "video8";
						vc-id = <1>;
						port-index = <2>;
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out5>;
					};
				};	
				port@6 {
					reg = <6>;
					imx390_vi_in6: endpoint {
						devnode = "video11";
						vc-id = <2>;
						port-index = <2>;
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out6>;
					};
				};
				port@7 {
					reg = <7>;
					imx390_vi_in7: endpoint {
						devnode = "video10";
						vc-id = <3>;
						port-index = <2>;
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out7>;
					};
				};
            #endif

            #if 1
				port@8 {
					reg = <8>;
					imx390_vi_in8: endpoint {
						devnode = "video5";
						vc-id = <0>;
						port-index = <4>;
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out8>;
					};
				};
				port@9 {
					reg = <9>;
					imx390_vi_in9: endpoint {
						devnode = "video4";
						vc-id = <1>;
						port-index = <4>;
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out9>;
					};
				};	
				port@a {
					reg = <0xa>;
					imx390_vi_in10: endpoint {
						devnode = "video7";
						vc-id = <2>;
						port-index = <4>;
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out10>;
					};
				};
				port@b {
					reg = <0xb>;
					imx390_vi_in11: endpoint {
						devnode = "video6";
						vc-id = <3>;
						port-index = <4>;
						bus-width = <4>;
						remote-endpoint = <&imx390_csi_out11>;
					};
				};
            #endif
			};
		};

	host1x@13e00000 {
		nvcsi@15a00000 {
			num-channels = <12>;
			/*num-channels = <8>;*/
			/*num-channels = <4>;*/
			#address-cells = <1>;
			#size-cells = <0>;
        #if 1
			channel@0 {
				reg = <0>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in0: endpoint@0 {
						/*
						 * Port index is used to specify the connection between two different modules. 
						 * For the VI (video input) module, the port index represents the input stream. 
						 * For the CSI module, it represents the actual CSI port to which the camera is connected.
						 * see diagram for details.
						*/
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out0>;
						};
					};

					port@1 {
						reg = <1>;
						imx390_csi_out0: endpoint@1 {
							remote-endpoint = <&imx390_vi_in0>;
						};
					};

				};
			};
			channel@1 {
				reg = <1>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in1: endpoint@2 {
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out1>;
						};
					};
					port@1 {
						reg = <1>;
						imx390_csi_out1: endpoint@3 {
							remote-endpoint = <&imx390_vi_in1>;
						};
					};
				};
			};
			channel@2 {
				reg = <2>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in2: endpoint@4 {
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out2>;
						};
					};
					port@1 {
						reg = <1>;
						imx390_csi_out2: endpoint@5 {
							remote-endpoint = <&imx390_vi_in2>;
						};
					};
				};
			};
			channel@3 {
				reg = <3>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in3: endpoint@6 {
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out3>;
						};
					};
					port@1 {
						reg = <1>;
						imx390_csi_out3: endpoint@7 {
							remote-endpoint = <&imx390_vi_in3>;
						};
					};
				};
			};
        #endif
        #if 1
			channel@4 {
				reg = <4>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in4: endpoint@8 {
							/*port-index = <6>;*/
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out4>;
						};
					};

					port@1 {
						reg = <1>;
						imx390_csi_out4: endpoint@9 {
							remote-endpoint = <&imx390_vi_in4>;
						};
					};

				};
			};
			channel@5 {
				reg = <5>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in5: endpoint@10 {
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out5>;
						};
					};
					port@1 {
						reg = <1>;
						imx390_csi_out5: endpoint@11 {
							remote-endpoint = <&imx390_vi_in5>;
						};
					};
				};
			};
			channel@6 {
				reg = <6>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in6: endpoint@12 {
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out6>;
						};
					};
					port@1 {
						reg = <1>;
						imx390_csi_out6: endpoint@13 {
							remote-endpoint = <&imx390_vi_in6>;
						};
					};
				};
			};
			channel@7 {
				reg = <7>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in7: endpoint@14 {
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out7>;
						};
					};
					port@1 {
						reg = <1>;
						imx390_csi_out7: endpoint@15 {
							remote-endpoint = <&imx390_vi_in7>;
						};
					};
				};
			};
        #endif
        #if 1
			channel@8 {
				reg = <8>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in8: endpoint@16 {
							port-index = <4>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out8>;
						};
					};

					port@1 {
						reg = <1>;
						imx390_csi_out8: endpoint@17 {
							remote-endpoint = <&imx390_vi_in8>;
						};
					};

				};
			};
			channel@9 {
				reg = <9>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in9: endpoint@18 {
							port-index = <4>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out9>;
						};
					};
					port@1 {
						reg = <1>;
						imx390_csi_out9: endpoint@19 {
							remote-endpoint = <&imx390_vi_in9>;
						};
					};
				};
			};
			channel@a {
				reg = <0xa>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in10: endpoint@20 {
							port-index = <4>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out10>;
						};
					};
					port@1 {
						reg = <1>;
						imx390_csi_out10: endpoint@21 {
							remote-endpoint = <&imx390_vi_in10>;
						};
					};
				};
			};
			channel@b {
				reg = <0xb>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_csi_in11: endpoint@22 {
							port-index = <4>;
							bus-width = <4>;
							remote-endpoint = <&imx390_imx390_out11>;
						};
					};
					port@1 {
						reg = <1>;
						imx390_csi_out11: endpoint@23 {
							remote-endpoint = <&imx390_vi_in11>;
						};
					};
				};
			};
        #endif
		};

	};

	i2c@3180000 {

			imx390_a@31 {
				compatible = "nvidia,imx390";
				reg = <0x31>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					/* enable dphy */
					phy_mode = "DPHY";
					tegra_sinterface = "serial_a";
					vc_id = "0";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out0: endpoint {
							vc-id = <0>;
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in0>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "a";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <0>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};
			imx390_b@32 {
				compatible = "nvidia,imx390";
				reg = <0x32>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					phy_mode = "DPHY";
					tegra_sinterface = "serial_a";
					vc_id = "1";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out1: endpoint {
							vc-id = <1>;
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in1>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "b";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <1>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};

			imx390_c@33 {
				compatible = "nvidia,imx390";
				reg = <0x33>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					phy_mode = "DPHY";
					tegra_sinterface = "serial_a";
					vc_id = "2";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out2: endpoint {
							vc-id = <2>;
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in2>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "c";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <2>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};

			imx390_d@34{
				compatible = "nvidia,imx390";
				reg = <0x34>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					phy_mode = "DPHY";
					tegra_sinterface = "serial_a";
					vc_id = "3";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out3: endpoint {
							vc-id = <3>;
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in3>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "d";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <3>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};
	};
    #if 1
	i2c@3180000 {
			imx390_e@35 {
				compatible = "nvidia,imx390";
				reg = <0x35>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					phy_mode = "DPHY";
					/*tegra_sinterface = "serial_g";*/
					tegra_sinterface = "serial_c";
					vc_id = "0";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out4: endpoint {
							vc-id = <0>;
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in4>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "a";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <0>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};
			imx390_f@36 {
				compatible = "nvidia,imx390";
				reg = <0x36>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					phy_mode = "DPHY";
					tegra_sinterface = "serial_c";
					vc_id = "1";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out5: endpoint {
							vc-id = <1>;
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in5>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "b";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <1>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};

			imx390_g@37 {
				compatible = "nvidia,imx390";
				reg = <0x37>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					phy_mode = "DPHY";
					tegra_sinterface = "serial_c";
					vc_id = "2";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out6: endpoint {
							vc-id = <2>;
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in6>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "c";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <2>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};

			imx390_h@38{
				compatible = "nvidia,imx390";
				reg = <0x38>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					phy_mode = "DPHY";
					tegra_sinterface = "serial_c";
					vc_id = "3";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out7: endpoint {
							vc-id = <3>;
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in7>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "d";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <3>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};

	};
    #endif

    #if 1
	i2c@c250000 {
			imx390_i@31 {
				compatible = "nvidia,imx390";
				reg = <0x31>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					phy_mode = "DPHY";
					tegra_sinterface = "serial_e";
					vc_id = "0";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out8: endpoint {
							vc-id = <0>;
							port-index = <4>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in8>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "a";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <0>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};
			imx390_j@32 {
				compatible = "nvidia,imx390";
				reg = <0x32>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					phy_mode = "DPHY";
					tegra_sinterface = "serial_e";
					vc_id = "1";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out9: endpoint {
							vc-id = <1>;
							port-index = <4>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in9>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "b";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <1>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};

			imx390_k@33 {
				compatible = "nvidia,imx390";
				reg = <0x33>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					phy_mode = "DPHY";
					tegra_sinterface = "serial_e";
					vc_id = "2";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out10: endpoint {
							vc-id = <2>;
							port-index = <4>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in10>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "c";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <2>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};

			imx390_l@34{
				compatible = "nvidia,imx390";
				reg = <0x34>;
				physical_w = "15.0";
				physical_h = "12.5";
				//def-mode = <0>;
				sensor_model ="imx390-BL";
				post_crop_frame_drop = "0";
				use_decibel_gain = "true";
				delayed_gain = "true";
				//use_sensor_mode_id = "true";
				mode0 {
					mclk_khz = "24000";
					num_lanes = "4";
					phy_mode = "DPHY";
					tegra_sinterface = "serial_e";
					vc_id = "3";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";
					active_w = "1920";
					active_h = "1080";
					//pixel_t = "yuv_yuyv16";
					readout_orientation = "0";
					line_length = "2200";
					inherent_gain = "1";
					pix_clk_hz = "74250000";
					serdes_pix_clk_hz = "200000000";
					gain_factor = "10";
					min_gain_val = "0"; /* dB */
					max_gain_val = "300"; /* dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "30000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "59"; /*us, 2 lines*/
					max_exp_time = "33333";
					step_exp_time = "1";
					default_exp_time = "33333";/* us */
					embedded_metadata_height = "0";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						imx390_imx390_out11: endpoint {
							vc-id = <3>;
							port-index = <4>;
							bus-width = <4>;
							remote-endpoint = <&imx390_csi_in11>;
							};
						};
					};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "b";
					serdes-csi-link = "d";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <3>;
					num-lanes = <4>;
					streams = "raw12";
					};
				};

	};
    #endif

};

/ {

	tegra-camera-platform {
		compatible = "nvidia, tegra-camera-platform";
		/**
		* Physical settings to calculate max ISO BW
		*
		* num_csi_lanes = <>;
		* Total number of CSI lanes when all cameras are active
		*
		* max_lane_speed = <>;
		* Max lane speed in Kbit/s
		*
		* min_bits_per_pixel = <>;
		* Min bits per pixel
		*
		* vi_peak_byte_per_pixel = <>;
		* Max byte per pixel for the VI ISO case
		*
		* vi_bw_margin_pct = <>;
		* Vi bandwidth margin in percentage
		*
		* max_pixel_rate = <>;
		* Max pixel rate in Kpixel/s for the ISP ISO case
		*
		* isp_peak_byte_per_pixel = <>;
		* Max byte per pixel for the ISP ISO case
		*
		* isp_bw_margin_pct = <>;
		* Isp bandwidth margin in percentage
		*/
		num_csi_lanes = <12>;
		/*num_csi_lanes = <8>;*/
		/*num_csi_lanes = <4>;*/
		max_lane_speed = <4000000>;
		min_bits_per_pixel = <10>;
		vi_peak_byte_per_pixel = <2>;
		vi_bw_margin_pct = <25>;
		isp_peak_byte_per_pixel = <5>;
		isp_bw_margin_pct = <25>;

		/**
		 * The general guideline for naming badge_info contains 3 parts, and is as follows,
		 * The first part is the camera_board_id for the module; if the module is in a FFD
		 * platform, then use the platform name for this part.
		 * The second part contains the position of the module, ex. "rear" or "front".
		 * The third part contains the last 6 characters of a part number which is found
		 * in the module's specsheet from the vender.
		 */
		modules {

			module0 {
				badge = "nvidia_0_imx390";
				position = "0";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 2-0032";
					proc-device-tree = "/proc/device-tree/i2c@3180000/imx390_b@32";
				};
			};
			module1 {
				badge = "nvidia_1_imx390";
				position = "1";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 2-0031";
					proc-device-tree = "/proc/device-tree/i2c@3180000/imx390_a@31";
				};
			};
			module2 {
				badge = "nvidia_2_imx390";
				position = "2";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 2-0034";
					proc-device-tree = "/proc/device-tree/i2c@3180000/imx390_d@34";
				};
			};
			module3 {
				badge = "nvidia_3_imx390";
				position = "3";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 2-0033";
					proc-device-tree = "/proc/device-tree/i2c@3180000/imx390_c@33";
				};
			};
           #if 1
			module4 {
				badge = "nvidia_4_imx390";
				position = "4";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 7-0032";
					proc-device-tree = "/proc/device-tree/i2c@c250000/imx390_j@32";
				};
			};
			module5 {
				badge = "nvidia_5_imx390";
				position = "5";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 7-0031";
					proc-device-tree = "/proc/device-tree/i2c@c250000/imx390_i@31";
				};
			};
			module6 {
				badge = "nvidia_6_imx390";
				position = "6";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 7-0034";
					proc-device-tree = "/proc/device-tree/i2c@c250000/imx390_l@34";
				};
			};
			module7 {
				badge = "nvidia_7_imx390";
				position = "7";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 7-0033";
					proc-device-tree = "/proc/device-tree/i2c@c250000/imx390_k@33";
				};
			};
            #endif
           #if 1
			module8 {
				badge = "nvidia_8_imx390";
				position = "8";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 2-0036";
					proc-device-tree = "/proc/device-tree/i2c@3180000/imx390_f@36";
				};
			};
			module9 {
				badge = "nvidia_9_imx390";
				position = "9";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 2-0035";
					proc-device-tree = "/proc/device-tree/i2c@3180000/imx390_e@35";
				};
			};
			#endif
			#if 0
			module10 {
				badge = "nvidia_10_imx390";
				position = "10";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 2-0038";
					proc-device-tree = "/proc/device-tree/i2c@3180000/imx390_h@38";
				};
			};
			module11 {
				badge = "nvidia_11_imx390";
				position = "11";
				orientation = "0";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx390 2-0037";
					proc-device-tree = "/proc/device-tree/i2c@3180000/imx390_g@37";
				};
			};
            #endif
		};
	};
};
