/*
 * Copyright (c) 2018-2019, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
#include <t234-common-modules/tegra234-hy026-camera-gw5300-ar0820.dtsi>
#include "dt-bindings/clock/tegra234-clock.h"

#define CAMERA_I2C_MUX_BUS(x) (0x1E + x)

/* camera control gpio definitions */

/ {

	/* set camera gpio direction to output */
	gpio@2200000 {
		camera-control-output-low {
			gpio-hog;
			output-low;
			gpios = <CAM0_RST_L 0 CAM1_RST_L 0
				 CAM2_RST_L 0 CAM3_RST_L 0>;

			label = "cam0-rst", "cam1-rst",
				"cam2-rst", "cam3-rst";
		};
	};

	i2c@c240000 {
        CamPOC12V_a: max2008X@00{
            compatible = "HYZX,max20087";
            reg = <0x28>;
            out-ports = <4>;
            out-boot-on = <1 1 1 1>;
            power-on-delay = <250>;
            status = "okay";
        };
        CamPOC12V_b: max2008X@01{
            compatible = "HYZX,max20087";
            reg = <0x29>;
            out-ports = <4>;
            out-boot-on = <1 1 1 1>;
            power-on-delay = <250>;
            status = "okay";
        };
	};

	i2c@3180000 {
				dser_a: max9296@48{
					compatible = "nvidia,max9296";
					reg = <0x48>;
					csi-mode = "2x4";
					max-src = <2>;
					dser-num = <0>;
					mipi-clk = <2400>;  /* mipi-clk: MHz */
					reset-gpios = <&tegra_main_gpio CAM0_RST_L GPIO_ACTIVE_HIGH>;
				};

				dser_b: max9296@4a{
					compatible = "nvidia,max9296";
					reg = <0x4a>;
					csi-mode = "2x4";
					max-src = <2>;
					dser-num = <1>;
					mipi-clk = <2400>;  /* mipi-clk: MHz */
					reset-gpios = <&tegra_main_gpio CAM1_RST_L GPIO_ACTIVE_HIGH>;
				};

				ser_prim_a: max9295_prim@40 {
					compatible = "nvidia,max9295";
					reg = <0x40>;
					group=<0>;
					is-prim-ser;
				};
				ser_a: max9295_a@11 {
					compatible = "nvidia,max9295";
					reg = <0x11>;
					group=<0>;
					dser-num = <0>;
					nvidia,gmsl-dser-device = <&dser_a>;
				};
				ser_b: max9295_b@12 {
					compatible = "nvidia,max9295";
					reg = <0x12>;
					group=<0>;
					dser-num = <0>;
					nvidia,gmsl-dser-device = <&dser_a>;
				};
				ser_c: max9295_c@13 {
					compatible = "nvidia,max9295";
					reg = <0x13>;
					group=<0>;
					dser-num = <1>;
					nvidia,gmsl-dser-device = <&dser_b>;
				};
				ser_d: max9295_d@14 {
					compatible = "nvidia,max9295";
					reg = <0x14>;
					group=<0>;
					dser-num = <1>;
					nvidia,gmsl-dser-device = <&dser_b>;
				};
				gw5300_a@1b {
					def-addr = <0x6d>;
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					dser-num = <0>;
					nvidia,gmsl-ser-device = <&ser_a>;
					nvidia,gmsl-dser-device = <&dser_a>;
					gmsl-link {
						frame-sync-en;
					};
				};
				gw5300_b@1c {
					def-addr = <0x6d>;
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					dser-num = <0>;
					nvidia,gmsl-ser-device = <&ser_b>;
					nvidia,gmsl-dser-device = <&dser_a>;
					gmsl-link {
						frame-sync-en;
					};
				};
				gw5300_c@1d {
					def-addr = <0x6d>;
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					dser-num = <1>;
					nvidia,gmsl-ser-device = <&ser_c>;
					nvidia,gmsl-dser-device = <&dser_b>;
					gmsl-link {
						frame-sync-en;
					};
				};
				gw5300_d@1e {
					def-addr = <0x6d>;
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					dser-num = <1>;
					nvidia,gmsl-ser-device = <&ser_d>;
					nvidia,gmsl-dser-device = <&dser_b>;
					gmsl-link {
						frame-sync-en;
					};
				};
	};


    #if 1
	i2c@c250000 {
				dser_c: max9296@48{
					compatible = "nvidia,max9296";
					reg = <0x48>;
					csi-mode = "2x4";
					max-src = <2>;
					dser-num = <2>;
					mipi-clk = <1200>;  /* mipi-clk: MHz */
					reset-gpios = <&tegra_main_gpio CAM2_RST_L GPIO_ACTIVE_HIGH>;
				};

				dser_d: max9296@4a{
					compatible = "nvidia,max9296";
					reg = <0x4a>;
					csi-mode = "2x4";
					max-src = <2>;
					dser-num = <3>;
					mipi-clk = <2400>;  /* mipi-clk: MHz */
					reset-gpios = <&tegra_main_gpio CAM3_RST_L GPIO_ACTIVE_HIGH>;
				};
				ser_prim_b: max9295_prim@40 {
					compatible = "nvidia,max9295";
					reg = <0x40>;
					group=<1>;
					is-prim-ser1;
				};
				ser_e: max9295_e@11 {
					compatible = "nvidia,max9295";
					reg = <0x11>;
					group=<1>;
					dser-num = <2>;
					nvidia,gmsl-dser-device = <&dser_c>;
				};
				ser_f: max9295_f@12 {
					compatible = "nvidia,max9295";
					reg = <0x12>;
					group=<1>;
					dser-num = <2>;
					nvidia,gmsl-dser-device = <&dser_c>;
				};
				ser_g: max9295_g@13 {
					compatible = "nvidia,max9295";
					reg = <0x13>;
					group=<1>;
					dser-num = <3>;
					nvidia,gmsl-dser-device = <&dser_d>;
				};
				ser_h: max9295_h@14 {
					compatible = "nvidia,max9295";
					reg = <0x14>;
					group=<1>;
					dser-num = <3>;
					nvidia,gmsl-dser-device = <&dser_d>;
				};

				gw5300_e@1b {
					def-addr = <0x6d>;
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					dser-num = <2>;
					nvidia,gmsl-ser-device = <&ser_e>;
					nvidia,gmsl-dser-device = <&dser_c>;
					gmsl-link {
						frame-sync-en;
					};
				};
				gw5300_f@1c {
					def-addr = <0x6d>;
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					dser-num = <2>;
					nvidia,gmsl-ser-device = <&ser_f>;
					nvidia,gmsl-dser-device = <&dser_c>;
					gmsl-link {
						frame-sync-en;
					};
				};
				gw5300_g@1d {
					def-addr = <0x6d>;
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					dser-num = <3>;
					nvidia,gmsl-ser-device = <&ser_g>;
					nvidia,gmsl-dser-device = <&dser_d>;
					gmsl-link {
						frame-sync-en;
					};
				};
				gw5300_h@1e {
					def-addr = <0x6d>;
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					dser-num = <3>;
					nvidia,gmsl-ser-device = <&ser_h>;
					nvidia,gmsl-dser-device = <&dser_d>;
					gmsl-link {
						frame-sync-en;
					};
				};
	};
    #endif


};
